* {
	margin:0px;
	padding: 0px;
}
body {
	background-image: url("../photo/01.jpg");
	background-size: cover;
	background-position: center;
}
.full {
	margin: 50px auto 50px auto;
}
.start h1 {
	font-weight: bold;
	background-color: #000080;
	margin-bottom: 0px;
	height: 60px;
	line-height: 55px;
	color: white;
	text-align: center;
	border-radius: 15px 15px 0px 0px;
}
.start p {
	font-weight: bold;
	background-color: white;
	margin: 0px auto;
	padding: 40px;
	border-radius: 0px 0px 5px 5px;
}
.lending {
	display: flex;
}
.lending1 {
	font-weight: bold;
	text-align: justify;
	background-color: #fff;
	flex-basis: 60%;
	padding: 40px 60px;
	border-radius: 5px 0px 0px 5px;
}
.lending2 {
	font-weight: bold;
	color: white;
	flex-basis: 40%;
	background-color: #000080;
	padding: 40px;
	border-radius: 0px 5px 5px 0px;
}
.lending2 img {
	width: 400px;
	height: 250px;
	border-radius: 5px;
	margin: 0px auto;
	display: block;
}
.lending1 p {
	padding: 40px;
}
.lending2 h3 {
	margin-bottom: 20px;
	font-weight: bold;
}
.selling {
	
	display: flex;
}
.selling1 {
	vertical-align: center;
	font-weight: bold;
	color: white;
	flex-basis: 40%;
	background-color: #000080;
	padding: 40px;
	border-radius: 5px 0px 0px 5px;
}
.selling2 {
	font-weight: bold;
	text-align: justify;
	background-color: #fff;
	flex-basis: 60%;
	padding: 40px 60px;
	border-radius: 0px 5px 5px 0px;
}
.selling1 img {
	width: 100%;
	border-radius: 5px;
}
.selling1 h3 {
	margin-bottom: 20px;
	font-weight: bold;
}
.e-book {
	
	display: flex;
}
.e-book1 {
	font-weight: bold;
	text-align: justify;
	background-color: #fff;
	flex-basis: 60%;
	padding: 40px 60px;
	border-radius: 5px 0px 0px 5px;
}
.e-book2 {
	font-weight: bold;
	color: white;
	flex-basis: 40%;
	background-color: #000080;
	padding: 40px;
	border-radius: 0px 5px 5px 0px;
}
.e-book2 img {
	width: 400px;
	height: 200px;
	border-radius: 5px;
	margin: 0px auto;
	display: block;
}
.e-book2 h3 {
	margin-bottom: 20px;
	font-weight: bold;
}
.end {
	font-weight: bold;
	background-color: white;
	margin: 0px auto;
	padding: 40px;
	border-radius: 5px 5px 5px 5px;
}
.end a {
	text-decoration: none;
}